body {
  text-align: center;
}

a {
  color: black;
  text-align: right;
}

.navbar-toggler {
  background-color: black;
  text-align: right;
}
.navbar-expand-md {
  background-color: white;
  color: black;
  text-align: right;
}

.jumbotron {
  background: rgb(130,198,237);
  background: linear-gradient(0deg, rgba(130,198,237,0.7628093473717612) 0%, rgba(245,203,192,0.7235936610972514) 100%);
  padding-top: 150px;
  padding-bottom: 150px;
}

.about {
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
}

.initiatives {
  background: rgb(130,198,237);
  background: linear-gradient(0deg, rgba(130,198,237,0.7628093473717612) 0%, rgba(245,203,192,0.7235936610972514) 100%);
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.sub {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.partners {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.footer {
  background: #DCDEDC;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.fa {
  padding: 50px;
  font-size: 170px;
  width: 100px;
  height: 100px;
  text-align: center;
  color: black;
}

.mission {
  padding-top: 50px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;
}

/* Three columns side by side */
.team {
  background: rgb(130,198,237);
  background: linear-gradient(0deg, rgba(130,198,237,0.7628093473717612) 0%, rgba(245,203,192,0.7235936610972514) 100%);
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 18px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom:10px;
}

/* Unicode character for "plus" sign (+) */
.accordion:after {
    content: '\2795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

/* Unicode character for "minus" sign (-) */
.accordion.active:after {
    content: "\2796"; 
}

/* Style the element that is used for the panel class */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom:10px;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}
.first {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.shops {
  background: rgb(130,198,237);
  background: linear-gradient(0deg, rgba(130,198,237,0.7628093473717612) 0%, rgba(245,203,192,0.7235936610972514) 100%);
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.sub1 {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
